@model Demo1.Models.DIEULE

@{
    ViewBag.Title = "TaoDieuLe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
        <h4>Tạo Điều Lệ</h4>
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label style="margin-left:13px">Tên Điều Lệ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDieuLe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDieuLe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="margin-left:13px">Đường Đẫn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DuongDan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DuongDan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label style="margin-left:13px">Tóm Tắt</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TomTat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TomTat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label style="margin-left:13px">Nội Dung</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" }, id = "txtNoiDung" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                <a class="btn btn-primary" href="@Url.Action("ListDieuLe","QLDieuLe")" style=" margin-left: 16px">Trở Về</a>
            </div>
        </div>

    </div>
    }


    @section Scripts {
        <script>
            var editor = CKEDITOR.replace('txtNoiDung', {
                customConfig: '/Areas/Admin/Content/ckeditor/config.js',
            });
        </script>


        @*<script src="~/Asset/ckeditor/ckeditor.js"></script>
            <script src="~/Asset/ckfinder/ckfinder.js"></script>
            <script>
                $(function () {
                    CKEDITOR.replace("txtNoiDung");
                    $(".uploadfile").click(function () {
                        var ip = $(this);
                        var finder = new CKFinder();
                        finder.selectActionFunction = function (url) {
                            ip.val(url);
                            $("img[data-for='" + ip.attr("id") + "']").attr("src", url);
                        }
                        finder.popup();

                    })
                })
            </script>*@
    }
