@model Demo1.Models.PHIEUDANGKY
@{
    ViewBag.Title = "XacNhanDangKyHoiThao";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="text-align:center">Xác Nhận Đăng Ký Hội Thao</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label style="margin-left:13px">@Model.DOI.TenDoi</label>
        <label style="margin-left:13px">@Model.DOI.USER.LOP.TenLop</label>
        @*<div class="col-md-10">
            <select name="HinhThucThanhToan" id="HinhThucThanhToan">
                <option value="1">Tiền Mặt</option>
                <option value="2">Ngân Hàng</option>
                <option value="3">Ví Điện Tử</option>
            </select>
        </div>*@
    </div>

        <!--<div class="form-group">
            <label style="margin-left:13px">Số Tiền Đóng Lệ Phí</label>
            <div class="col-md-10">
                <input name="TongTien" class="form-control" id="TongTien" type="number" />-->
                @*@Html.EditorFor(model => model.PHIEUDANGKY., new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })*@
            <!--</div>
        </div>-->

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" style="text-align:center" value="Xác Nhận Đăng Ký" class="btn btn-primary" />
                <a class="btn btn-primary" href="@Url.Action("DanhSachDangKy","QLDangKy")" style=" margin-left: 16px">Trở Về</a>
            </div>
        </div>

    </div>
}